/* Resets */
ol{
    padding: 0;
}

.dropbox {
	width: 90%;
    min-height: 75px;
    display: block;
    background-color: rgb(255, 121, 121);
    padding-left: 40px;
}

.dropbox div {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out 0s;
}

.good {
    background-color: palegreen;
}

#pagesDrop {
    background-color: palegreen;
}

.dropbox:empty {
    background-color: rgb(255, 121, 121);
    margin: 0;
    padding: 0;
}
#pagesDrop:empty:after {
    content: "Drop pages here";
}

#pagesDrop li{
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out 0s;
}

#pagesDrop li:nth-child(even){
	background-color: #b7c2ff;
}

#pagesDrop li:nth-child(odd){
	background-color: #b2b2b2;
}